.employee-login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #e0f7fa, #b2ebf2);
}

.employee-login-box {
  background-color: white;
  padding: 35px 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.employee-subtitle {
  font-size: 14px;
  color: #555;
  margin-bottom: 25px;
}

.employee-form-group {
  margin-bottom: 20px;
  text-align: left;
}

.employee-form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

.employee-form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.employee-login-btn {
  width: 100%;
  background-color: #00796b;
  color: white;
  padding: 12px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.employee-login-btn:hover {
  background-color: #004d40;
}

.back-btn {
  margin-top: 15px;
  background-color: #ccc;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.employee-static-info {
  margin-top: 25px;
  text-align: left;
  font-size: 14px;
  background: #f1f1f1;
  Color: black;
  padding: 15px;
  border-radius: 8px;
}
